<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

 
</head>
<body id="body">
  <%include master.html%>
    

     
   
  
    </body>
</html>