<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
   
    <link href="../../public/css/Stylesheet1.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
    <meta charset="utf-8" />
    <title></title>
    
</head>
<body id="body">
    <form id="form1">
        <div id="wrapper">
            <div id="banner">
            </div>
            <div id="navigation_bar" class="navbar navbar-inverse" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Profile</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/apps">Apps</a></li>
                    <li><a href="/query">Queries</a></li>                     
                    <li><a href="/login" style="margin-left:450px">Contact</a></li>
                    <li><a href="/login">login</a></li>
                    </ul>
            </div>
         

        </div>
         <a href="/feedback"></a>
        <a href="/thankYou"></a>
    </form>
</body>
</html>